#jiraB_MainPanel
{ 
    background:#333; 
    height:400px;
    max-height:400px;
}
#jiraB_PanelButton
{
    margin: 7px 0px 0px 3px;
    width:27px;
    height:27px;
}
#jiraB_PanelButtonImage
{
    margin:0;
    padding:0;
    outline:none;
    border:0;
}
#jiraBTopBar
{ 
    width:100%; 
    height:30px; 
    background:#CCC; 
    box-shadow:0px 1px 4px #000;
    float:left;
    border-top:1px solid #555;
}
#jiraBTopBar span
{
    font-size:18px;
    line-height:30px;
    margin-left:10px;
    float:left;
}
#jiraB_ProjectsWrapper
{
    float:right;
    height:100%;
    width: 600px;
    overflow:hidden;
    margin:0;
    padding:0;
}
#jiraB_Projects
{
    float:right;
}
#jiraB_Projects li
{
    list-style:none;
    float:left;
    margin-right:5px;
    margin-top:5px;
    border-radius:3px;
    background:#E2E2E2;
    box-shadow:0px 1px 1px #000;
    height:20px;
    color:#111;
    min-width:60px;
    padding:0px 10px 0px 10px;
    text-align:center;
    line-height:20px;
    cursor:pointer;
    color:#555;
}
#jiraB_Projects li:active
{
    box-shadow:1px 1px 0px #000 inset;
}
#jiraB_Options
{
    float:left;
    margin-top:8px;
    margin-left:8px;
    cursor:pointer;
}
#jiraB_Refresh
{
    float:left;
    margin-top:8px;
    margin-left:8px;
    cursor:pointer;
}
#jiraB_Loader
{
    font-size:14px;
    line-height:30px;
    margin-left:5px;
    float:left;
}
#jiraB_IssueWrapper
{
    width:100%;
    overflow-y:scroll;
    overflow-x:hidden;
    height:370px;
}
.jiraB_Issue
{
    height:180px;
    padding:20px;
    border-bottom:8px solid #555; 
}
.jiraB_Issue:last-child
{
    border-bottom:0px solid #555;
}
.jiraB_IssueProjectLogo
{
   float:left;
}
.jiraB_IssueTitle
{
    margin-left:10px;
    float:left;
    color:#CCC;
}
.jiraB_KeyLink
{
    color:#3b73af;
    cursor:pointer;
}
.jiraB_KeyLink:hover
{
    color:#3b73af;
}
.jiraB_ProjectLink
{
    color:#3b73af;
    cursor:pointer;
}
.jiraB_ProjectLink:hover
{
    color:#3b73af;
}
.jiraB_IssueProject
{
    float:left;
    line-height:18px;
    font-size:18px;
}
.jiraB_IssueSummary
{
    clear:left;
    line-height:32px;
    font-size:24px;
}
.jiraB_IssueTypeLogo
{
    margin-left:10px;
    margin-top:-2px;
}
.jiraB_IssueType
{
    font-size:16px;
}
.jiraB_IssueDescription
{
    padding-top:5px;
    padding-bottom:5px;
    clear:both;
    width:100%;
    font-size:14px;
    color:#CCC;    
}

.jiraB_IssuePeopleWrapper
{
    clear:both;
    min-width:300px;
    float:left;
    color:#CCC;
}
.jiraB_IssuePeopleTitle
{
    color:#888;
    height:20px;
    font-size:16px;
    line-height:20px;
}
.jiraB_IssueCommentsWrapper
{
    float:left;
    min-width:600px;
    padding-left:20px;
    color:#CCC;
}
.jiraB_IssueCommentsTitle
{
    height:20px;
    font-size:16px;
    color:#888;
    line-height:20px;
}
.jiraB_IssueReporterImage
{
    float:left;
    margin-top:10px;
    box-shadow:0px 1px 1px #000;
}
.jiraB_IssueReporterInfo
{
    float:left;
    margin-top:6px;
    padding-left:10px;
    color:#888;
    font-size:14px;
}
.jiraB_IssueReporterName
{
    margin-bottom:-5px;
}
.jiraB_IssueReporterEmail
{
    color:#3b73af;
    cursor:pointer;
    font-size:10px;
}
.jiraB_IssueReporterEmail:hover
{
    color:#3b73af;
}
#jiraB_DialogInputWrapper
{
    margin-bottom:-20px;
}
#jiraB_DialogUserTitle
{
    margin-bottom:5px;
}
#jiraB_InputPassword
{
    margin-left:20px;
}
#jiraB_DialogAddressTitle
{
    margin-top:5px;
    margin-bottom:5px;
}
#jiraB_InputPort
{
    margin-left:20px;
}